<html>
  
  <head>
    <h2 style="font-size: 2rem;">Selamat pagi rekan IKATA,</h2>
  </head>
  <body>
    <p style="margin-top: 0.5rem!important;margin-bottom: 0.5rem!important;font-size: 1rem;">Terima kasih telah berpartisipasi dalam MUNAS IKATA 2021.</p>
    <p style="margin-top: 0.5rem!important;margin-bottom: 0.5rem!important;font-size: 1rem;">Pertanyaan/pesan anda akan kami teruskan ke panitia yang bersangkutan. Mohon untuk ditunggu jawaban dari kami, atau anda ingin langsung menanyakan ke panitia ? silahkan hubungi kontak yang ada di <a href="https://munasikataupn.com/contactUs">disini</a>.</p>
    <p style="margin-top: 0.5rem!important;margin-bottom: 0.5rem!important;font-size: 1rem;">Pertanyaan/pesan anda :</p>
    <blockquote style="font-size: 1rem;background-color: #E3E3E3;">"{{message}}"</blockquote>
    <p style="margin-top: 0.5rem!important;margin-bottom: 0.5rem!important;font-size: 1rem;">Semoga harimu menyenangkan.</p>
    <br />
    <p style="margin-top: 0.5rem!important;margin-bottom: 0.5rem!important;font-size: 1rem;">Salam,</p>
    <p style="margin-top: 0.5rem!important;margin-bottom: 0.5rem!important;font-size: 1rem;"><b>Panitia </b></p>
    <a href="https://munasikataupn.com"><img src="https://image.munasikataupn.com/img-munas-2.png" alt="img"></a>
    <br />
    <br />
    <h3 style="margin-bottom: 0rem!important;font-size: 1.2rem;">IKATA TANGGUH !!</h3>
    <h3 style="margin-top: 0rem!important;font-size: 1.2rem;">VIVA TAMBANG MANTAP SKALIII !!!</h3>
    <br />
    <div>
      <a style="margin-right: 1rem;" href="https://www.instagram.com/munasikata2021/"><img src="https://image.munasikataupn.com/img-instagram.png " alt="instagram"></a>
      <a style="margin-right: 1rem;" href="https://www.youtube.com/channel/UCd-fUSOU5V8Mz1rUf2m0SfA/videos"><img src="https://image.munasikataupn.com/img-youtube.png" alt="youtube"></a>
      <a style="margin-right: 0rem;" href="https://ikata.or.id/"><img src="https://image.munasikataupn.com/img-website.png" alt="web"></a>
    </div>
    <br />
    <br />
    <div style="font-size: 0.5rem;">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div style="font-size: 0.5rem;">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div style="font-size: 0.5rem;">Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </body>
</html>